html, body{
    min-height: 100%;
}
body{
    background: #f3f3f3;
}
.img-categoria, .img-gesto{
    max-height: 150px;
}
.panel{
    background: #fff;
    box-shadow: 0px 3px 5px rgba(100,100,100,0.2);
    border-radius: 2px;
    border: none;
}
.panel .titulo-gesto{
    color: #000;
    font-size: 1.5em;
    font-weight: bold;
}
.panel-titulo-gesto{
    background: #fff;
    color: #000;
}
.rammetto-font{
    font-family: 'Rammetto One', cursive;
}
.slide-content{
    padding: 1.5em;
}
.hands-background{
    padding-bottom: 160px;
    background: url("../img/hands.jpg") bottom repeat-x;
    background-size: 400px;
}
#lista-gestos{
    margin-top: 20px;
}
video{
    width: 100%;
}
#directional-btns{
    margin-top: 20px;
}
.bold{
    font-weight: bold;
}
.img-preview{
    height: 150px;
}