html, body{
    min-height: 100%;
}
body{
    background: #f3f3f3;
}
.img-categoria, .img-gesto{
    max-height: 150px;
}
.panel{
    background: #fff;
    box-shadow: 0px 3px 5px rgba(100,100,100,0.6);
    border-radius: 2px;
    border: none;
}
.panel .titulo-gesto{
    color: #000;
    font-size: 1.5em;
    font-weight: bold;
}
.panel-titulo-gesto{
    background: #fff;
    color: #000;
}
.rammetto-font{
    font-family: 'Rammetto One', cursive;
}
.slide-content{
    padding: 1.5em;
}
.hands-background{
    padding-bottom: 160px;
    background: url("../img/hands.jpg") bottom repeat-x;
    background-size: 400px;
}
.wood-background{
    background: url("../img/wood_pattern.png");
}
.four-hands-background{
    background: url("../img/four-hands-gray.png");
    background-size: 150px;
}
#lista-gestos, #lista-categorias{
    margin-top: 20px;
}
video{
    width: 100%;
}
#directional-btns{
    margin-top: 20px;
}
.bold{
    font-weight: bold;
}
.img-preview{
    height: 150px;
}
.breadcrumbs{
    background-color: #fff;
}
.logo{
    max-width: 80px;
}
header{
    padding: 15px 0;
    background: url(../img/colors-border.png) center bottom no-repeat #fff;
    background-size: 100% 5px;
    box-shadow: 0px 3px 5px rgba(100,100,100,0.6);
    margin-bottom: 20px;
}
    header #foundation-name{
        margin-bottom: -12px;
    }
#subheader{

}
.bowlby-font{
    font-family: 'Bowlby One SC', cursive;
}
.gray{
    color: #888;
}
.category-title{
    color: #333;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    letter-spacing: 4px;
}
#gesture-title{
    letter-spacing: normal;
}